.solid-logo{
  position: absolute;
  top: 80px;
  left: 500px;
  width: 400px;
  height: auto;
  opacity: 0.65;
}
.solid-logo2{
  position: absolute;
  top: 350px;
  left: 540px;
  width: 300px;
  height: auto;
  opacity: 0.65;
}